h1, h2, h3 {
  font-family: "Orbitron", sans-serif; }

h1, h2, h3 {
  color: #a97155;
  font-size: 75px; }

h2 {
  color: #a97155;
  display: block;
  margin-left: 20px;
  margin-bottom: 50px;
  font-size: 35px;
  text-transform: uppercase; }

h3 {
  display: block;
  color: #0d083f;
  padding: 10px;
  font-size: 25px; }

.rubro {
  text-align: justify;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0d083f;
  font-family: "Orbitron", sans-serif;
  font-size: 25px; }

.inicio {
  font-family: "Orbitron", sans-serif;
  color: #a97155;
  margin-top: 60px; }

a {
  color: #a97155; }

.redes-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .redes-container ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center; }
    .redes-container ul li a {
      display: block;
      padding: 0 10px;
      font-size: 25px; }
      .redes-container ul li a:hover {
        transform: translateY(-1px) scale(1.2); }

.facebook {
  color: #3b5998; }

.whatsapp {
  color: #43d854; }

.mail {
  color: #31c6d4; }

body {
  background-color: #e4d1b9;
  margin: 30px; }

header {
  text-align: center;
  background-color: #8fbdd3;
  justify-content: space-between;
  margin: 50px; }

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  transition: 1s; }

.card img {
  width: 350px;
  height: 250px; }

.contain.card {
  width: 330px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s; }

.portada img {
  width: 90%;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.direction {
  display: flex;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  font-size: larger;
  margin-top: 20px; }

iframe {
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.form {
  width: 450px;
  margin: auto;
  background: rgba 0, 0, 0, 0.1;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px; }

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none; }

main {
  background-color: aliceblue;
  margin: 50px;
  border: 50px;
  padding: 50px; }

.padding-inferior {
  padding: auto; }

@media (max-width: 768px) {
  .portada {
    width: auto;
    height: auto; } }

footer {
  display: block;
  margin: 50px;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  background-color: #8fbdd3; }

.nav-item {
  font-size: x-large;
  font-family: "Orbitron", sans-serif; }

.page {
  font-size: xx-large; }
