.redes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    li {
      display: inline-block;
      margin: 0 5px;
      width: 50px;
      height: 50px;
      text-align: center;
      a {
        display: block;
        padding: 0 10px;
        font-size: 25px;
        &:hover {
          transform: translateY(-1px) scale(1.2);
        }
      }
    }
  }
}

.facebook {
  color: #3b5998;
}

.whatsapp {
  color: #43d854;
}

.mail {
  color: #31c6d4;
}
