h1 {
  font-family: "Orbitron", sans-serif;
}

h1 {
  @extend h1;
  color: rgb(169, 113, 85);
  font-size: 75px;
}

h2 {
  @extend h1;
  color: rgb(169, 113, 85);
  display: block;
  margin-left: 20px;
  margin-bottom: 50px;
  font-size: 35px;
  text-transform: uppercase;
}

h3 {
  @extend h1;
  display: block;
  color: rgb(13, 8, 63);
  padding: 10px;
  font-size: 25px;
}

.rubro {
  text-align: justify;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(13, 8, 63);
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
}

.inicio {
  font-family: "Orbitron", sans-serif;
  color: rgb(169, 113, 85);
  margin-top: 60px;
}

a {
  color: rgb(169, 113, 85);
}
