h1 {
  font-family: "Orbitron", sans-serif;
}

h1 {
  @extend h1;
  color: rgb(169, 113, 85);
  font-size: 75px;

  @media screen and (max-width: 720px) {
    font-size: 29px;
  }
  @media screen and (max-width: 380px) {
    font-size: 25px;
  }
}

h2 {
  @extend h1;
  color: rgb(169, 113, 85);
  display: block;
  margin-left: 20px;
  margin-bottom: 50px;
  font-size: 35px;
  text-transform: uppercase;

  @media screen and (max-width: 720px) {
    font-size: 15px;
  }
  @media screen and (max-width: 380px) {
    font-size: 12px;
  }
}

h3 {
  @extend h1;
  display: block;
  color: rgb(13, 8, 63);
  padding: 10px;
  font-size: 25px;

  @media screen and (max-width: 750px) {
    font-size: 15px;
  }
  @media screen and (max-width: 380px) {
    font-size: 12px;
  }
}

.rubro {
  text-align: justify;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(13, 8, 63);
  font-family: "Orbitron", sans-serif;
  font-size: 25px;

  @media screen and (max-width: 750px) {
    font-size: 18px;
  }
  @media screen and (max-width: 380px) {
    font-size: 15px;
  }
}

.inicio {
  font-family: "Orbitron", sans-serif;
  color: rgb(169, 113, 85);
  margin-top: 60px;
}

a {
  color: rgb(169, 113, 85);
}

p {
  font-size: 15px;

  @media screen and (max-width: 750px) {
    font-size: 10px;
  }
  @media screen and (max-width: 380px) {
    font-size: 8px;
  }
}
