@import "scss/variables.scss";
@import "scss/textos.scss";
@import "scss/redessociales.scss";

body {
  background-color: rgb(228, 209, 185);
  margin: 30px;
}

header {
  text-align: center;
  background-color: $celeste;
  justify-content: space-between;
  margin: 50px;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.card {
  &:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    transition: 1s;
  }

  img {
    width: 350px;
    height: 250px;

    @media screen and (max-width: 720px) {
      width: auto;
      height: auto;
    }
  }
}

.contain {
  &.card {
    width: 330px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
  }
}

.portada {
  img {
    width: 100%;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 720px) {
      width: 100%;
    }
  }
}

.direction {
  display: flex;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  font-size: larger;
  margin-top: 20px;

  @media screen and (max-width: 720px) {
    font-size: 15px;
  }
}

iframe {
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 720px) {
    width: 100%;
    height: 100%;
  }
}

.form {
  width: 450px;
  margin: auto;
  background: rgba (0, 0, 0, 0.1);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;

  @media screen and (max-width: 720px) {
    width: 100%;
  }
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

main {
  background-color: aliceblue;
  margin: 50px;
  border: 50px;
  padding: 50px;
}

.padding-inferior {
  padding: auto;
}

@mixin pie-de-pagina {
  display: block;
  margin: 50px;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
}

footer {
  @include pie-de-pagina;
  background-color: $celeste;
}

.nav-item {
  font-size: x-large;
  font-family: "Orbitron", sans-serif;

  @media screen and (max-width: 720px) {
    font-size: large;
  }
}

.page {
  font-size: xx-large;
}
