body {
    background-color: lemonchiffon;
    margin: 50px;
}

header {
    text-align: center;
    background-color: thistle;
    justify-content: space-between;
    margin: 50px ;
}

h1 {
    color: rgb(13, 6, 110);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 75px;
}

.rubro {
    text-align: justify;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(26, 90, 131);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}

ul li {
    color: rgb(13, 8, 63);
    font-family: fantasy;
    font-size: 15px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    background-color: cornflowerblue;
    width: 45%;
    max-width: 1000px;
    margin: auto;

}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background-color: mediumpurple;
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card {
    width: 330px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img {
    width: 330px;
    height: 220px;
}

.portada img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 500px;
}

h2 {
    display: block;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.direction {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    display: block;
    margin-left: 435px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    display: block;
    color: rgb(13, 8, 63);
    font-family: fantasy;
    font-size: 15px;
}

footer {
    display: block;
    margin: 50px;
    font-family: consolas;
    font-weight: bold;
}

.redes {
    margin: 20px;
    font-weight: bold;
}

.form {
    width: 450px;
    margin: auto;
    background: rgb (0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;

}

.grid-container {
    display: grid;
    grid-template-columns: 150xp auto 150xp;
    grid-template-rows: auto;
    padding: auto;
    margin-top: auto;
}

.grid-container>* {
    border: 1px solid black;

}

main {
    margin: 50px;
    border: 50px;
    padding: 50px;
}
.padding-inferior{
    padding-bottom: 400px
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    
}

   


